
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.italianno-regular {
  font-family: "Italianno", cursive;
  font-weight: 400;
  font-style: normal;
}


.k2d-thin {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.k2d-extralight {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.k2d-light {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.k2d-regular {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.k2d-medium {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.k2d-semibold {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.k2d-bold {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.k2d-extrabold {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.k2d-thin-italic {
  font-family: "K2D", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.k2d-extralight-italic {
  font-family: "K2D", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.k2d-light-italic {
  font-family: "K2D", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.k2d-regular-italic {
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.k2d-medium-italic {
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.k2d-semibold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.k2d-bold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.k2d-extrabold-italic {
  font-family: "K2D", sans-serif;
  font-weight: 800;
  font-style: italic;
}





/* HTML: <div class="loader"></div> */
.Homeloader {
  width: fit-content;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  background: linear-gradient(135deg,#0000 calc(50% - 0.5em),#fff 0 calc(50% + 0.5em),#0000 0) right/300% 100%;
  animation: l22 2s infinite;
}
.Homeloader::before {
  content: "Loading...";
  color: #0000;
  padding: 0 5px;
  background: inherit;
  background-image: linear-gradient(135deg,#fff calc(50% - 0.5em),#000 0 calc(50% + 0.5em),#fff 0);
  -webkit-background-clip:text;
          background-clip:text;
}

@keyframes l22{
  100%{background-position: left}
}



.checkbox-wrapper-57 input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper-57 *,
.checkbox-wrapper-57 ::after,
.checkbox-wrapper-57 ::before {
  box-sizing: border-box;
}

.checkbox-wrapper-57 .container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
}

/* Create a custom checkbox */
.checkbox-wrapper-57 .checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: black;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
}

/* When the checkbox is checked, add a blue background */
.checkbox-wrapper-57 .container input:checked ~ .checkmark {
  background: black;
  box-shadow: -10px -10px var(--spread) 0px #5B51D8, 0 -10px var(--spread) 0px #833AB4, 10px -10px var(--spread) 0px #E1306C, 10px 0 var(--spread) 0px #FD1D1D, 10px 10px var(--spread) 0px #F77737, 0 10px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-wrapper-57 .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-wrapper-57 .container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-wrapper-57 .container .checkmark::after {
  left: 0.5em;
  top: 0.34em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}
